<html>
    <head>
        <title>{{ account.name }}</title>
        <style>
        body {
            background-color: {{ theme.options.main.background_color }}
        }
        </style>
    </head>
    <body>
        background-color: {{ insults.fields.background_color}}
        <h4>
            RGBurn! poooooooooooop
        </h4>
    <h2>{{ theme.options.main.header_image.alt_text }}</h2>
    <img src="{{ theme.options.main.header_image.url }}" />
    <!--------- show alll insults at once -----------
    {% for insults in boxes.insults.all %}
        <div>
            <h1>{{ insults.name }}</h1>
        </div>
    {% endfor %}
    --------- show alll insults at once end --------->
    {% set insult = boxes.insults.all|random %}

    {{ insult.name }}

        <em>A Theme by: {{ theme.config.theme.name }}</em>
    </body>
</html>