<html>
        {% set insult = boxes.insults.all|random %}

    <head>
        <title>{{ account.name }}</title>
        <style>
        body {
            background-color: {{ insult.fields.background_color }}
        }
        </style>
    </head>
    <body>

        <nav>
            {% for item in navs.main %}
                <a href="{{ item.url }}">{{ item.name }}</a> <br>
            {% end for %}
        </nav>

    {% block body %}

        <h4>
            RGBurn! poooooooooooop
        </h4>
    <h2>{{ theme.options.main.header_image.alt_text }}</h2>
    <img src="{{ theme.options.main.header_image.url }}" />


    <!--------- show alll insults at once -----------
    {% for insults in boxes.insults.all %}
        <div>
            <h1>{{ insults.name }}</h1>
        </div>
    {% endfor %}
    --------- show alll insults at once end --------->

    {{ insult.name }}

        <em>A Theme by: {{ theme.config.theme.name }}</em>
        
    {% endblock %}
    </body>
</html>